<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="/">Hubbub &reg;</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hubs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-item" ui-sref="site.hubs.hub-la">Los Angeles Hub</div>
                        <div class="dropdown-item" ui-sref="site.hubs.hub-valley">The Valley Hub</div>
                        <div class="dropdown-item" ui-sref="site.hubs.hub-ie">Inland Empire Hub</div>
                        <div class="dropdown-item" ui-sref="site.hub-oc">Orange County Hub</div>
                    </div>
                    <li>
                        <a class="nav-link" ui-sref="site.map">
                            <i class="fa fa-fw fa-file"></i>
                            <span class="nav-link-text">Map</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="site.hub-request">
                            <i class="fa fa-fw fa-file"></i>
                            <span class="nav-link-text">Request a Hub</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="site.search">
                            <i class="fa fa-fw fa-file"></i>
                            <span class="nav-link-text">Events</span>
                        </a>
                    </li>
                    <li>
                            <a class="nav-link" ui-sref="site.seatcheck.seatcheck">
                                <i class="fa fa-fw fa-file"></i>
                                <span class="nav-link-text">Car Share</span>
                            </a>
                        </li>
                    <li>
                        <a class="nav-link" ui-sref="site.admin">
                            <i class="fa fa-fw fa-file"></i>
                            <span class="nav-link-text">Admin View</span>
                        </a>
                    </li>
            </ul>
            <ul ng-hide="true" class="nav navbar-nav navbar-right home-pointer">
                <li>
                    <a ng-click="navbarCtrl.logout()">
                        <span class="glyphicon glyphicon-log-in"></span> PANIC!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>