<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="brand" class="navbar-brand" href="#">CMS Gallery</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a class="nav-link" ui-sref="app.main">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="app.projects.list">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">Projects</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">Public</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">Map</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ng-click="navbarCtrl.logout()">
              <span class="glyphicon glyphicon-log-in" ></span> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>