<div class="container">
    <div class="text-center">
        <h1>San Fernando Valley Hub</h1>
        <img class="hub-picture-resize" src="\content\css\images\sanFernandoValley.jpg"></img>
    </div>

    <p style="margin-top:25px; margin-bottom:25px;">California is a dream destination for many and with endless sunshine, a local, luxury lifestyle and an abundance of things
        to do, it offers so much to those who visit. One of California’s biggest and most popular cities is Los Angeles and
        this fantastic destination needs to be on your radar! If you’re visiting West Coast USA or if you’re looking for
        somewhere new to explore, its got to be LA! Here are 10 reasons to visit Los Angeles on your next holiday!</p>
    <div class="container">
        <div class="row">
            <h3>What's the Hubbub?</h3>
            <div class='col-md-4'>
                <map-component></map-component>
            </div>
            <div class="col-md-6">
                <metrics-component></metrics-component>
            </div>
        </div>

    </div>
    <div>
        <shuttles-component rates="valCtrl.rates" hub="valCtrl.hub"></shuttles-component>
    </div>


    <h3>Local Activities</h3>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> San Fernando Valley Activities
                </div>
            </uib-accordion-heading>
            <a href="https://www.wbstudiotour.com/">- Warner Bros Studio Tour</a>
            <br />
            <a href="http://www.watthai.com/">- Wat Thai Temple</a>
            <br />
            <a href="http://nohoartsdistrict.com/">- North Hollywood Art District</a>
            <br />
            <a href="https://www.thebakedpotato.com/">- The Baked Potato</a>
            <br />
            <a href="www.laparks.org/aquatic/balboa">- Balboa Park</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> San Fernando Valley Shopping
                </div>
            </uib-accordion-heading>
            <a href="http://www.shermanoaksgalleria.com/">- Sherman Oaks Galleria</a>
            <br />
            <a href="https://www.westfield.com/topanga">- Northridge Topanga Mall</a>
            <br />
            <a href="http://losangeles.cbslocal.com/top-lists/a-shoppers-guide-to-ventura-blvd/">- Ventura Boulevard</a>
        </div>
    </uib-accordion>


</div>