<div class="container">
    <div class="text-center">
        <h1>Los Angeles Hub</h1>
        <img class="hub-picture-resize" src="\content\css\images\la1.jpg"></img>
    </div>
    <p style="margin-top:25px; margin-bottom:25px;">California is a dream destination for many and with endless sunshine, a local, luxury lifestyle and an abundance of things
        to do, it offers so much to those who visit. One of California’s biggest and most popular cities is Los Angeles and
        this fantastic destination needs to be on your radar! If you’re visiting West Coast USA or if you’re looking for
        somewhere new to explore, its got to be LA! Here are 10 reasons to visit Los Angeles on your next holiday!</p>

    <div class="container">
        <div class="row">
            <h3>What's the Hubbub?</h3>
            <div class='col-md-4'>
                <map-component></map-component>
            </div>
            <div class="col-md-6">
                <metrics-component></metrics-component>
            </div>
        </div>

    </div>
    <div>
        <shuttles-component rates="laCtrl.rates" hub="laCtrl.hub"></shuttles-component>
    </div>
    <h3>Local Activities</h3>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> LA Activities
                </div>
            </uib-accordion-heading>
            <a href="http://www.getty.edu/">- Getty Center</a>
            <br />
            <a href="http://www.universalstudioshollywood.com/">- Universal Studios</a>
            <br />
            <a href="http://www.griffithobservatory.org/">- Griffith Observatory</a>
            <br />
            <a href="http://www.laparks.org/griffithpark">- Griffith Park</a>
            <br />
            <a href="https://hollywoodsign.org/">- Hollywood Sign</a>
            <br />
            <a href="http://www.lazoo.org/">- LA Zoo</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> LA Shopping
                </div>
            </uib-accordion-heading>
            <a href="https://www.westfield.com/topanga">- Westfield</a>
            <br />
            <a href="https://thegrovela.com/">- The Grove</a>
            <br />
            <a href="http://www.beverlycenter.com/">- The Beverly Center</a>
            <br />
            <a href="http://www.santamonicaplace.com/">- Santa Monica Place</a>
            <br />
            <a href="https://americanaatbrand.com/">- The Americana at Brand</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> LA Sports
                </div>
            </uib-accordion-heading>
            <a href="http://www.nba.com/lakers/">- Los Angeles Lakers</a>
            <br />
            <a href="http://www.nba.com/clippers/">- Los Angeles Clippers</a>
            <br />
            <a href="https://www.mlb.com/dodgers">- Los Angeles Dodgers</a>
            <br />
            <a href="http://www.therams.com/">- Los Angeles Rams</a>
            <br />
            <a href="http://www.chargers.com/">- Los Chargers</a>
        </div>
    </uib-accordion>
</div>