<div class="container-fluid">
    <form>
        <label for="services"></label>
        <h4>Metro/Hubbub Service Packages:</h4>
        <uib-tabset active="">
            <uib-tab index="0" heading="Metro Basic"> {{$ctrl.hub}} Hubbub Basic ${{$ctrl.rates.metroB}}
                <br> Hubbub Basic includes 7-day standard access to all Metro services. Including:
                <br>
                <ul>
                    <li>Metro Rail</li>
                    <li>Bus</li>
                    <li>Bike Share</li>
                    <button ui-sref="site.payment" class="btn bg-blue white pull-right">
                        Purchase</button>
                </ul>
            </uib-tab>
            <uib-tab index="1" heading="Metro Plus"> {{$ctrl.hub}} Hubbub Plus ${{$ctrl.rates.metroP}}
                <br>Hubbub Plus includes all Hubbub Basic services in addition to reservered Hubbub Charter Shuttles and access
                to local Hubbub Micro-Shuttles.
                <ul>
                    <li>Charter Shuttle express routes</li>
                    <li>More frequent departures/pickups</li>
                    <li>Micro Shuttles to take you around the SubHub</li>
                </ul>
                <button ui-sref="site.payment" class="btn bg-blue white pull-right">
                    Purchase</button>
            </uib-tab>
            <uib-tab index="2" heading="Metro Super Plus"> {{$ctrl.hub}} Hubbub SuperPlus ${{$ctrl.rates.metroSP}}
                <br> Hubbub SuperPlus includes all Hubbub Basic and Plus services and enjoy the benefit of extended-range Hub2Hub
                Micro Shuttles
                <ul>
                    <li>Enjoy Micro Shuttle Service to-and-from any Hub</li>
                    <li>Highest frequency of departures/pickups</li>
                </ul>
                <button ui-sref="site.payment" class="btn bg-blue white pull-right">
                    Purchase</button>
            </uib-tab>
            <hr />
        </uib-tabset>
    </form>
</div>