<style>
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
    }
</style>

<div class="container text-center">
    <div class="col-md-12">
        <div class='row'>
            <div style="height:500px; width:60%" id="map"></div>
            <p id="total"></p>
        </div>
    </div>
    <div class='col-sm-6 hidden-xs'>
        <div class='row'>
            <div xclass="layer-toggle-margin">
                <h4 class='text-center'>Layers</h4>
            </div>
            <div class="btn-group">
                <!-- <button class="btn btn-primary toggle" ng-click="mapCtrl.toggleLayer()">BUTTON</button> -->
                <button class="btn btn-primary" ng-click="mapCtrl.toggleLayer()">Train Routes</button>
                <button class="btn btn-primary" ng-click="mapCtrl.toggleLayer2()">Markers</button>
            </div>
        </div>
    </div>
</div>