<div class="container">
    <div class="text-center">
        <h1>Orange County Hub</h1>
        <img class="hub-picture-resize" src="http://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/VC_California101_OrangeCounty_Stock_RF_EHT85D_1280x640.jpg"></img>
    </div>

    <p style="margin-top:25px; margin-bottom:25px;">Orange County's 3 million residents enjoy a nearly perfect climate in which parks and beaches provide abundant opportunities
        for outdoor activities. Orange County is the home of exciting professional ports, a wide range of tourist attractions
        and quality venues for visual and performing arts. Orange County boasts a thriving business economy and a well educated
        work force. The County of Orange is a regional service provider and planning agency whose core businesses include
        public safety, public health, environmental protection, regional planning, public assistance, social services and
        aviation.</p>
    <div class="container">
        <div class="row">
            <h3>What's the Hubbub?</h3>
            <div class='col-md-4'>
                <map-component></map-component>
            </div>
            <div class="col-md-6">
                <metrics-component></metrics-component>
            </div>
        </div>

    </div>

    <div>
        <shuttles-component rates="ocCtrl.rates" hub="ocCtrl.hub"></shuttles-component>
    </div>
    <!-- ******************************** MAP GOES HERE **************************************** -->

    <!-- <div>Available Routes</div>  -->

    <h3>Local Activities</h3>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> Orange County Activities
                </div>
            </uib-accordion-heading>
            <a href="https://disneyland.disney.go.com/">- Disneyland Resort</a>
            <br>
            <a href="https://www.knotts.com/">- Knott's Berry Farm</a>
            <br>
            <a href="http://visitanaheim.org/blog-post/2016/04/12/spotlight-little-saigon">- Little Saigon</a>
            <br>
            <a href="http://www.lhcm.org/">- The Children's Museum at La Habra</a>
            <br>
            <a href="https://www.bowers.org/">- Bowers Museum</a>
            <br>
            <a href="https://www.discoverycube.org/">- Discovery Science Center</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> Orange County Shopping
                </div>
            </uib-accordion-heading>
            <a href="https://www.shopmainplacemall.com/">- Westfield MainPlace</a>
            <br>
            <a href="http://www.asiangardenmall.com/">- Asian Garden Mall</a>
            <br>
            <a href="https://anaheimgardenwalk.com/">- Anaheim GardenWalk</a>
            <br>
            <a href="http://www.shopanaheimplaza.com/">- Anaheim Plaza</a>
            <br>
            <a href="http://www.southcoastplaza.com/">- South Coast Plaza</a>
            <br>
            <a href="http://www.southcoastplaza.com/">- Irvine Spectrum Center</a>
        </div>
    </uib-accordion>

</div>