<div class="container">
    <h1>Welcome to OC Hub</h1>
    <img src="https://www.americantraveler.com/sites/default/files/styles/hp_hero_breakpoints_theme_at_web_tablet-portrait_1x/public/hero/location/orange-county-ca-ocean-beach-houses-healthcare.jpg?itok=3oGlzSLF">
    <p>Orange County's 3 million residents enjoy a nearly perfect climate in which parks and beaches provide abundant opportunities for outdoor activities. Orange County is the home of exciting professional sports, a wide range of tourist attractions and quality venues for visual and performing arts. Orange County boasts a thriving business economy and a well educated work force. The County of Orange is a regional service provider and planning agency whose core businesses include public safety, public health, environmental protection, regional planning, public assistance, social services and aviation.</p>

    <h3>Proximity to Events</h3>
    <p>OC Hub </p>

    <!-- routes for shuttles -->
    <h3>Available Routes</h3>
    <div>
        <h4></h4>
    </div>

    <h3>Local Activities</h3>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="OC Activities">
            <a href="https://disneyland.disney.go.com/">- Disneyland Resort</a>
            <a href="https://www.knotts.com/">- Knott's Berry Farm</a>
            <a href="http://visitanaheim.org/blog-post/2016/04/12/spotlight-little-saigon">- Little Saigon</a>
            <a href="http://www.lhcm.org/">- The Children's Museum at La Habra</a>
            <a href="https://www.bowers.org/">- Bowers Museum</a>
            <a href="https://www.discoverycube.org/">- Discovery Science Center</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="OC Shopping">
            <a href="https://www.shopmainplacemall.com/">- Westfield MainPlace</a>
            <a href="http://www.asiangardenmall.com/">- Asian Garden Mall</a>
            <a href="https://anaheimgardenwalk.com/">- Anaheim GardenWalk</a>
            <a href="http://www.shopanaheimplaza.com/">- Anaheim Plaza</a>
            <a href="http://www.southcoastplaza.com/">- South Coast Plaza</a>
            <a href="http://www.southcoastplaza.com/">- Irvine Spectrum Center</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="OC Sports">
            <a href="https://www.nhl.com/ducks">- Anaheim Ducks</a>
            <a href="https://www.mlb.com/angels">- Los Angeles Angels of Anaheim</a>
        </div>
    </uib-accordion>

    <!-- <div>
        <h4>OC Activities</h4>
        <a href="">- Disneyland Resort</a>
        <a href="">- Knott's Berry Farm</a>
        <a href="">- Little Saigon</a>
        <a href="">- The Children's Museum at La Habra</a>
        <a href="">- Bowers Museum</a>
        <a href="">- Discovery Science Center</a>
    </div>
    <div>
        <h4>OC Shopping</h4>
        <a href="">- Westfield MainPlace</a>
        <a href="">- Asian Garden Mall</a>
        <a href="">- Anaheim GardenWalk</a>
        <a href="">- Anaheim Plaza</a>
        <a href="">- South Coast Plaza</a>
        <a href="">- Irvine Spectrum Center</a>
    </div>
    <div>
        <h4>OC Sports</h4>
        <a href="">- Anaheim Ducks</a>
        <a href="">- Los Angeles Angels of Anaheim</a>
    </div> -->

    <h4>Cost</h4>
    <uib-tabset active="">
        <uib-tab index="0" heading="Metro Basic">Metro basic includes....</uib-tab>
        <uib-tab index="1" heading="Metro Plus">Metro plus includes....</uib-tab>
        <uib-tab index="2" heading="Super Metro Plus">Super metro plus includes....</uib-tab>
        <hr />
    </uib-tabset>

    <!-- <ul>
        <li>La Habra</li>
        <img height="300" width="400" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/13161747_500696886807369_2229407141382995334_o.jpg?oh=62f39ee51cfe92443f7c9f197788f3fc&oe=5A9118A5">
        <p>La Habra is known for its small-town feel, numerous nonprofit organizations, and service clubs. Beyond these attractions, La Habra has excellent schools, a CIF Championship football team, a true community theater, a tennis center, and many parks and sports facilities. The jewel of our park system is La Bonita Park, which is home to Girls Softball and the Disney Citrus Classic Softball Tournament. Visitors will also enjoy La Habra’s rich history and friendly people.</p>
        <li>Santa Ana</li>
        <img height="300" width="400" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/778923_567199963292405_1814539419_o.jpg?oh=a067ec4f5b66dd7a97571a0d4c1bea99&oe=5ACEB6BC">
        <p>The dynamic urban center of Orange County acclaimed for our: Investment In Children, Neighborhood Pride, Enriching Cultural Experiences, Appreciation of Diversity, Thriving Economic Climate, Quality Government Services, and Leadership Among California Cities. </p>
        <li>Westminster</li>
        <img height="300" width="400" src="http://tourdulichmy.vn/uploads/images/khu-phuoc-loc-tho-little-saigon-o-california-mixtourist.jpg">
        <p>Winning the All-America City Award in 1996, Westminster has become a vibrant community with much to offer it's residents and visitors. Coastline Community College serves the community at its satellite campus located adjacent to the Westminster Rose Center, which includes a 411 seat theater and convention/banquet center for community events and programs. Westminster Mall is the city's major shopping mall which contains more than 180 stores.</p>
    </ul> -->
</div>

