<div class="container">
    <div class="text-center">
        <h1>Inland Empire Hub</h1>
        <img class="hub-picture-resize" src="\content\css\images\riverside.jpg"></img>
    </div>
    <p style="margin-top:25px; margin-bottom:25px;">California is a dream destination for many and with endless sunshine, a local, luxury lifestyle and an abundance of things
        to do, it offers so much to those who visit. One of California’s biggest and most popular cities is Los Angeles and
        this fantastic destination needs to be on your radar! If you’re visiting West Coast USA or if you’re looking for
        somewhere new to explore, its got to be LA! Here are 10 reasons to visit Los Angeles on your next holiday!</p>
    <div class="container">
        <div class="row">
            <h3>What's the Hubbub?</h3>
            <div class='col-md-4'>
                <map-component></map-component>
            </div>
            <div class="col-md-6">
                <metrics-component></metrics-component>
            </div>
        </div>

    </div>

    <div>
        <shuttles-component rates="ieCtrl.rates" hub="ieCtrl.hub"></shuttles-component>
    </div>
    <h3>Local Activities</h3>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> Inland Empire Activities
                </div>
            </uib-accordion-heading>
            <a href="https://www.castlepark.com/">- Castle Park</a>
            <br />
            <a href="http://www.parks.ca.gov/?page_id=649">- Citris State Historic Park</a>
            <br />
            <a href="http://missioninnmuseum.org/">- Mission Inn Museum</a>
            <br />
            <a href="http://www.mt-rubidoux.org/">- Mount Rubidoux</a>
            <br />
            <a href="https://www.pstramway.com/">- Palm Springs Aerial Tramways</a>
            <br />
            <a href="http://www.missioninn.com/">- Mission Inn</a>
            <br />
            <a href="https://vanburendriveintheatre.com/">- Van Buren Drive-in Theater</a>
        </div>
    </uib-accordion>
    <uib-accordion>
        <div uib-accordion-group class="panel-class" is-open="status.isOpen">
            <uib-accordion-heading class="bg-blue" ng-click="toggleOpen()">
                <div uib-accordion-header>
                    <i ng-class=" {'glyphicon glyphicon-minus-sign pull-right' : status.isOpen, 'glyphicon glyphicon-plus-sign pull-right' : !status.isOpen} "></i> Inland Empire Shopping
                </div>
            </uib-accordion-heading>
            <a href="https://www.galleriatyler.com/en.html">- Galleria at Tyler</a>
            <br />
            <a href="http://shopdoslagos.com/">- Dos Lagos</a>
            <br />
            <a href="https://www.promenadetemecula.com/">- Promenade Temecula</a>
            <br />
            <a href="http://shopcrossingsatcorona.com/event/shop-til-you-drop-for-a-cause/">- Crossings at Corona</a>
        </div>
    </uib-accordion>


</div>