.site-body {
    margin-top: 5em;
}


/*-----------------------------------------overwriting default navbar colors-----------------------------------*/

.navbar {
    background-color: #2f4858;
}

.navbar .navbar-brand {
    color: #ecf0f1;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #77b6ea;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #77b6ea;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #2f4858;
    border-color: #175676;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
    margin-left: 10px;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #77b6ea;
    background-color: #175676;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #175676;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #77b6ea;
    background-color: #175676;
}

.navbar .dropdown-toggle:hover {
    color: #77b6ea;
}

.navbar .navbar-toggle {
    border-color: #175676;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #175676;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}

.navbar .navbar-link {
    color: #ecf0f1;
}

.navbar .navbar-link:hover {
    color: #77b6ea;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #77b6ea;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #77b6ea;
    background-color: #175676;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #77b6ea;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
    cursor: pointer;
    background: #2F4858;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #77B6EA;
    background-color: #2F4858;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #eee;
    border-color: #2F4858;
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.navbar .nav>li>a,
.navbar .nav {
    font-family: 'Quicksand', sans-serif;
}

.red {
    color: #BA324F;
}

.darkBlue {
    color: #2F4858;
}

.blue {
    color: #175676;
}

.lightBlue {
    color: #77B6EA;
}

.lightGreen {
    color: #CCF5AC;
}

.white {
    color: white;
}

.bg-red {
    background-color: #BA324F;
}

.bg-darkBlue {
    background-color: #2F4858;
}

.bg-blue {
    background-color: #175676;
}

.bg-lightBlue {
    background-color: #77B6EA;
}

.bg-lightGreen {
    background-color: #CCF5AC;
}

.round-borders {
    border-radius: 5px
}

.round-borders-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bordered {
    border: 1px solid lightgrey;
}

.panel-class {
    background-color: #175676;
    color: white;
}

.panel-body {
    background-color: white;
}

.navbar-brand {
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

.site-body {
    margin-top: 5em;
}

.layer-toggle-margin {
    margin-left: 10px;
    margin-right: 10px;
}


/**** MAIN VIDEO BACKGROUND ****/

video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/slider/slide1.jpg) no-repeat;
    background-size: cover;
}


/**** Video transparent Overlay  ****/

div#overlay-banner {
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 100%;
    float: left;
}


/**** Video Overlay text ****/

#image-wrapper {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    #image-wrapper {
        max-width: 60%;
    }
}

#overlay-above {
    text-align: center;
    font-size: 44px;
    color: #FFF;
}

div#overlay {
    margin-top: 60px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #FFF;
}

div#overlay-under {
    z-index: 1;
    text-align: center;
    font-size: 45px;
    color: #FFF;
    margin-top: 28%;
    margin-left: 17%;
}

.properIndex {
    z-index: -1;
}

.footer {
    position: absolute;
    margin: 0 auto -100000000000000000000000000000px;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
    color: white;
    background-color: rgb(58, 57, 57);
}

.hub-picture-resize {
    height: 350px;
}
#floating-panel {
    position: absolute;
    top: 5em;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
    background-color: transparent;
    border: transparent;
}

.btn.disabled{
    opacity: 1 !important;
}
 
/* .gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
} */
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
/* #iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
} */
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
/* .iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
} */
/* .iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}  */

.bg-white {
    background-color: white;
}

.admin-picture-style {
    height: 365px;
    padding: 25px;
    float: right;
}

.admin-text-style {
    padding: 15px;
}

.admin-quote-style {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: '\201C""\201D""\2018""\2019';
}

.home-panel {
    color: white;
    background-color: #175676;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.home-panel:hover {
    cursor: pointer;
    color: black;
    background-color: #77B6EA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.home-pointer:hover { 
    cursor: pointer;
}
